* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #F4F4F4; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #9dc99e;
}

::-webkit-scrollbar-thumb {
  background: #559256;
}

::-webkit-scrollbar-thumb:hover {
  background: #427744;
}
